<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | PLTC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav class="navbar navbar-expand-md navbar-light bg-light" data-toggle="affix">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
<!-- Brand/logo -->
  <a class="navbar-brand" href="#">
  
    <%= image_tag("PLTCscale.png", alt: "logo", class:"Logonavbar") %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#SpaceNavBar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
   <div class="collapse navbar-collapse text-center" id="SpaceNavBar">
  <ul class="navbar-nav">
 
    <li class="nav-item dropdown active">
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
        CLUB INFO
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">About Us</a>
        <a class="dropdown-item" href="#">PLTC Committee</a>
      </div>
    </li>
    
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
        TENNIS
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Playing</a>
        <a class="dropdown-item" href="#">Kids</a>
        <a class="dropdown-item" href="#">Team</a>
        <a class="dropdown-item" href="#">Lessons</a>
      </div>
    </li>
    

  <li class="nav-item">
      <a class="nav-link" href="#">MEMBERSHIP</a>
  </li>  

  <li class="nav-item">
      <a class="nav-link" href="#">NEWS</a>
  </li>
  
  <li class="nav-item">
      <a class="nav-link" href="#">SOCIAL MEDIA</a>
  </li>
  
  <li class="nav-item">
      <a class="nav-link" href="#">GALLERY</a>
  </li>
  
    <li class="nav-item">
      <a class="nav-link" href="#">DOCS</a>
  </li>
  
    <li class="nav-item">
      <a class="nav-link" href="#">CONTACT</a>
  </li>


	
  </ul>
  </div>
  </div>
</nav>


    <%= yield %>
    
    <div class="container">

  <ul class="SocMedFoot">
    <li> <a href="#" target="_blank">
           <%= image_tag("Insta.png", alt: "Instagram logo & link") %>
    </a></li>
    <li> <a href="#" target="_blank">
           <%= image_tag("Face.png", alt: "Facebook logo & link") %>
    </a></li>
	<li><a href="#" target="_blank">
            <%= image_tag("Twit.png", alt: "Twitter logo & link") %>
    </a></li>
   </ul>

</div>

  </body>
</html>
